.footer{
  background-color: #f8f8f8;
  padding: 56px 0;

  &__lists{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
  }
  &__list{
    list-style-type: none;
    padding-left: 0;
    &:last-child{
      max-width: 235px;
      width: 100%;
    }
  }
  &__item{
    margin-bottom: 6px;
    &:hover{
      .footer__link{
        &:not(.footer__link_title){
          text-decoration: underline;
          color: #727272;
        }
      }
    }
    &_title{
      margin-bottom: 33px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__link,&__item{
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.14;
    color: #727272;
  }
  &__link{
    &_title{
      font-weight: 500;
      font-size: 14px;
      line-height: 1.67;
      color: #575153;
      text-transform: uppercase;
    }
  }
  &__banners{
    display: flex;
    justify-content: space-between;
  }
  &__social{
    display: flex;
    align-items: center;
    background-color: #00c8c8;
    padding: 0 146px;
  }
  &__link:not(:last-child){
    margin-right: 58px;
  }
  &__icon{
    width: 32px;
    height: 32px;
  }
}
.banner{
  display: inline-block;
  background-color: #333333;
  padding: 53px;
}
@media only screen and (max-width: 1024px) {
  .footer {
    &__banner {
      flex: 1;
    }

    &__link {
      &:not(:last-child) {
        margin-right: 28px;
      }
    }

    &__lists {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &__list {
      width: 33.3%;
    }

    &__social {
      padding: 0px 90px;
    }
  }
}

@media only screen and (max-width: 760px) {
  .footer {
    &__social {
      padding: 0px 50px;
    }
  }
}

@media only screen and (max-width: 640px) {
.footer{
  padding: 28px 0;
  &__lists{
    display: block;
    &:not(:last-child){
      margin: 0 0 26px 0;
    }
  }
  &__item{
    &_title{
      margin-bottom: 3px;

    }
  }
  &__list{
    width: 100%;
  }
  &__banners{
    display: block;
  }
  &__banner{
    .banner{
      font-size: 14px;
      padding: 20px;
    }
  }
  &__icon{
    height: 16px;

    width: 16px;
  }
  &__social{
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
}
}