.header {
  &__top {
    background-color: #333333;
    .logo{
      display: none;
    }
    .burger{
      display: none;
    }
  }
  &__authorization{
    display: none;
  }
  &__register{
    margin: 0;
    display: inline-block;
  }

  &.authorized{
    .header__sign-links{
      display: none;
    }
    .header__authorization{
      display: block;
    }
  }
  &__custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__register {
    text-decoration: none;
    color: #999999;
    font-size: 13px;
    margin-right: 30px;
    line-height: 1.54;

    &:hover {
      color: $green;
    }
  }

  &__sign-in {
    text-decoration: none;
    color: #999999;
    font-size: 13px;
    margin-right: 40px;
    line-height: 1.54;

    &:hover {
      color: $green;
    }
  }

  &__basket {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 1.62;
    background-color: $green;
    padding: 14px 22px;
  }

  &__basket::before {
    content: "";
    display: block;
    background-image: url("../../img/ic-shopping-cart.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 17px;
    margin-right: 11px;
  }

  &__main {
    position: relative;
    z-index: 3;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 58px 0;
  }

  &__right-part {
    display: flex;
    align-items: center;
  }
}

.logo {
  font-size: 24px;
  letter-spacing: 0.6px;
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;

  &__part {
    font-weight: 700;
  }
}

.nav {
  &__menu {
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__item {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;

    &:not(:last-child) {
      margin-right: 58px;
    }

    &:hover {
      .dropdown {
        display: block;
      }

      .nav__link {
        color: $green;
      }

      &::after {
        border-left: 1px solid $green;
        border-bottom: 1px solid $green;
      }
    }

    &:last-child {
      .dropdown {
        transform: translateX(calc(-20%));
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 25px;
      bottom: 0;
      transform: translateY(100%);
    }

    &::after {
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      border-style: none;
      border-left: 1px solid #989898;
      border-bottom: 1px solid #989898;
      transform: rotate(-45deg);
      margin-left: 3px;
      margin-top: 8px;
      position: absolute;
      bottom: -11px;
    }
  }

  &__link {
    transition: color .3s;
    text-decoration: none;
    color: #222222;
  }
}

.search {
  margin-left: 115px;
  display: flex;
  position: relative;

  &::after {
    content: '';
    background-image: url("./../../img/ic-search.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 13px;
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 11px;
  }

  &__input {
    outline: none;
    border: 1px solid #e7e7e7;
    font-size: 13px;
    background: transparent;
    line-height: 2.08;
    padding-left: 11px;
    padding-right: 30px;
    transition: border-color .3s;

    &::placeholder {
      color: #989898;
    }

    &:focus {
      border-color: #989898;
    }
  }
}

.currency {
  font-size: 13px;
  line-height: 1.62;
  color: #777777;

  &__select {
    display: none;
  }

  .select2-container {
    transform: translate(0, 0);

    &--default {
      .select2-selection--single {
        background-color: transparent;
        border: none;
        height: auto;
        outline: none;

        .select2-selection__rendered {
          font-size: 13px;
          line-height: 1.62;
          color: #777777;
          padding-left: 4px;
          overflow: visible;
        }

        .select2-selection__arrow {
          height: 20px;

          b {
            display: block;
            width: 4px;
            height: 4px;
            border-style: none;
            border-left: 1px solid #777777;
            border-bottom: 1px solid #777777;
            transform: rotate(-45deg);
            margin-left: -1px;
            margin-top: -3px;
          }
        }
      }
    }
  }

  &-dropdown {
    transform: translate(-7px, 13px);
    z-index: 3;
    .select2-results {
      &__option {
        color: #777777;
        font-size: 13px;
        padding: 7px 10px;

        &[aria-selected=true] {
          background-color: transparent;
        }

        &--highlighted {
          &[aria-selected] {
            background-color: transparent;
          }
        }
      }
      & > .select2-results__options {
        background-color: #333333;
        border: 1px solid #777777;
        border-top: none;
      }
    }
  }
}


.dropdown {
  background-color: white;
  position: absolute;
  padding: 30px;
  box-shadow: 0px 8.5px 12px 0 rgba(0, 0, 0, 0.14);
  top: 40px;
  display: none;

  &__lists {
    display: flex;
    margin-bottom: 62px;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;

    &:not(:last-child) {
      margin-right: 86px;
    }
  }

  &__item {
    margin-bottom: 6px;

    &:hover {
      .dropdown__link {
        &:not(.dropdown__link_title) {
          text-decoration: underline;
          color: #727272;
        }
      }
    }

    &_title {
      margin-bottom: 33px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.14;
    color: #727272;

    &_title {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.67;
      color: #575153;
      text-transform: uppercase;
    }
  }

  &__banner {
    .banner {
      min-width: 407px;
    }
  }
}

.banner {
  display: inline-block;
  text-decoration: none;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 0.9px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
  padding: 53px;

  &_part {
    font-weight: 300;
    display: block;
  }
}

@media only screen and (max-width: 1024px){
  .header{
    &__top{
      position: relative;
      .logo{
        display: block;
        color: #ffffff;
        &-mobile{
          display: none;
        }
      }
      .burger{
        display: block;
        position: relative;
        width: 13px;
        height: 13px;
        cursor: pointer;
        span{
          display: block;
          width: 13px;
          height: 1px;
          background-color: #FFFFFF;
          position: absolute;
          &:first-child{
            top: 0;
          }
          &:nth-child(2){
            top: 5px;
          }
          &:last-child{
            top: 10px;
          }
        }
      }
    }
    &__main{
      display: none;
    }
    .currency{
      display: none;
    }
    .header__register{
      display: none;
    }
    .header__sign-in{
      display: none;
    }
    &__basket{
      font-size: 0;
      &:before{
        margin: 0;
      }
    }
  }

}
@media only screen and (max-width: 640px) {
  .header {
    &__top {
      .logo {
        display: none;

        &-mobile {
          display: block;
        }
      }
    }
  }
}