@import "variable";
@import "base";
@import "header";
@import "footer";
@import "brand";
@import "stores";
@import "product-view";
@import "signIn";
@import "lookbook";

.hero {
  background-color: #f8f8f8;
  margin-top: -147px;
  margin-bottom: 62px;
  height: 830px;

  &__bg {
    display: block;

  }

  &__content {
    position: relative;
    height: 830px;
    z-index: 1;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-image: url("../../img/main@3x.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: -145px center;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
    }
  }

  &__name {
    font-size: 450px;
    font-weight: 700;
    color: #575153;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  &__btn {
    position: absolute;
    bottom: 70px;
    right: 140px;
    z-index: 1;
  }
}

.popular {
  margin-bottom: 62px;

  &__wrap {
    position: relative;
    padding: 54px 0 62px;

    &::after, &::before {
      content: '';
      width: 100%;
      margin: 0 auto;
      height: 1px;
      background-color: #eeeeee;
      position: absolute;
    }

    &::after {
      bottom: 0;
    }

    &::before {
      top: 0;
    }
  }

  &__list {
    display: flex;
    margin: 0 0 64px;
    padding: 0;
  }

  &__item {
    list-style-type: none;

    &:not(:last-child) {
      margin-right: 56px;
    }

    &:hover {
      .popular__link {
        color: $green;
      }
    }
  }

  &__link {
    text-decoration: none;
    font-size: 13px;
    line-height: 1.54;
    color: #727272;
    text-transform: uppercase;
    transition: color .3s;
  }
}

.cards {
  display: flex;
  justify-content: space-between;

  &__content {
    position: relative;
    background-color: #f8f8f8;
    transition: box-shadow .3s;

    img {
      display: block;
      max-width: 100%;
      object-fit: cover;
    }

    &:hover {
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.14);

      .cards__detail {
        box-shadow: 0 13px 12px 0 rgba(0, 0, 0, 0.14);
      }

      .cards__detail, .cards__photo, &::before {
        display: block;
      }
    }
  }

  &__detail {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 21px 34px 17px;
    text-align: center;
    transform: translateY(100%);
    display: none;
    z-index: 1;
    transition: box-shadow .3s;
  }

  &__title {
    font-size: 13px;
    line-height: 1.54;
    text-align: center;
    color: #727272;
    text-transform: uppercase;
    margin: 0 0 19px;
  }

  &__desc {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    text-align: center;
    color: #8e8c8c;
    margin: 0 0 17px;
  }

  &__icons {
    display: flex;
    justify-content: center;
  }

  &__link {
    width: 30px;
    height: 30px;
    background-color: #727272;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      background-color: $green;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__block {
    width: calc(50% - 15px);

    .cards__small {
      margin-bottom: 30px;
    }

    &:last-child {
      .cards__small {
        margin-bottom: 0;
        margin-top: 30px;
      }
    }
  }

  &__small {
    display: flex;
    justify-content: space-between;

    .cards__content {
      width: calc(50% - 15px);
    }
  }

  &__item {
    &-sm {
      height: 500px;
    }

    &-xl {
      height: 704px;

    }
  }

  &__big {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 704px;
  }

  &__wrap {
    display: block;
  }

  &__price {
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 0.53px;
    color: #9a9a9a;
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

.lookbook {
  display: flex;
  margin-bottom: 124px;
  justify-content: space-between;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    margin-left: 40px;
  }

  &__item {
    display: flex;
    background-color: #f8f8f8;
    max-width: calc(33.3% - 20px);
    padding: 40px 57px 0 40px;
  }

  &__img {
    width: 38.76%;
  }

  &__title {
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: 1.2px;
    color: #575153;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;

    &-part {
      font-weight: 300;
      display: block;
    }
  }

  &__description {
    font-size: 15px;
    line-height: 1.47;
    color: #727272;
    margin: 29px 0 31px;
    text-align: right;
  }
}

.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(#333333, .6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;

  &.right {
    justify-content: flex-end;
  }

  &.left {
    justify-content: flex-start;
  }

  &.active {
    display: flex;
  }

  &-wrap {
    padding: 0 23px;
    background-color: #fff;
    height: 100vh;
    width: 400px;
    z-index: 4;
    position: relative;
  }

  .close {
    position: absolute;
    width: 13px;
    height: 13px;
    cursor: pointer;
    right: 23px;
    top: 28px;

    span {
      display: block;
      width: 13px;
      height: 1px;
      background-color: #333333;
      position: absolute;
      top: 6px;
      left: 0;

      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}

.basket {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__main {
    overflow: auto;
    flex: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #eeeeee;
  }

  &__footer {
    padding: 25px 0;
    border-top: 1px solid #eeeeee;
  }

  &__title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;

  }

  &__content {
    padding-right: 70px;
  }

  &__name {
    margin: 0 0 10px;
    font-size: 12px;
  }

  &__info {
    display: flex;
    margin-bottom: 7px;

    &-title {
      margin: 0;
      font-size: 12px;
      font-weight: 500;
    }

    &-desc {
      margin: 0;
      font-size: 12px;
      padding-left: 6px;
    }

  }

  &__price {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
  }

  &__photo-item {
    height: 100px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  &__btn {
    width: 100%;
  }

  &__total {
    display: flex;
    justify-content: space-between;
  }
}

.close-sm {
  position: relative;
  width: 10px;
  height: 10px;
  cursor: pointer;

  span {
    display: block;
    width: 10px;
    height: 1px;
    background-color: #333333;
    position: absolute;
    top: 4px;
    left: 0;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}
.mobile-menu{
  &__list{
    padding: 0;
    margin: 54px 0;
    position: relative;
    padding-bottom: 60px;
    &::before{
      content: '';
      height: 1px;
      width: 100%;
      background-color: #727272;
      position: absolute;
      bottom: 0;
    }
  }
  &__item{
    list-style-type: none;
    &:not(:last-child){
      padding-bottom: 20px;
    }
  }
  &__link{
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: #727272;
    text-transform: uppercase;
  }
  &__search{
    margin-top: 50px;
    .search{
      margin: 0;
    }
    .search__input{
      width: 100%;
      border: none;
      border-bottom: 1px solid #e7e7e7;
      font-size: 13px;
    }
  }
}
@media only screen and (max-width: 1700px) {
  .lookbook {
    &__item {
      flex-direction: column;
      align-items: center;
      padding: 40px;
    }

    &__content {
      margin-left: 0;

      .btn-outline {
        margin: 0 auto;
      }
    }

    &__img {
      margin-bottom: 20px;
      width: 35%;
      max-height: 300px;
    }

    &__description {
      text-align: center;
    }

    &__title {
      width: 100%;
      text-align: center;

      &-part {
        display: inline;
        padding-left: 5px;
      }
    }
  }
}

@media only screen and (max-width: 1450px) {
  .lookbook {
    &__title {
      &-part {
        display: block;
        text-align: center;
      }
    }
  }
  .search {
    margin-left: 50px;
  }
  .nav {
    &__item:not(:last-child) {
      margin-right: 40px;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .hero {
    &__content {
      &::after {
        opacity: .5;
      }
    }

    &__name {
      font-size: 400px;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .hero {
    &__name {
      font-size: 330px;
    }
  }
  .nav {
    &__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  .search {
    margin-left: 20px;

    &__input {
      width: 170px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .hero {
    margin-top: 0;
    height: 500px;
    margin-bottom: 36px;

    &__content {
      height: 500px;

      &:after {
        background-position: -110px center;
      }
    }

    &__btn {
      bottom: 40px;
    }

    &__name {
      font-size: 258px;
    }
  }
  .popular {
    margin-bottom: 36px;

    &__wrap {
      padding-top: 36px;
    }

    &__list {
      margin-bottom: 36px;
    }
  }
  .banner {
    font-size: 20px;
    width: 100%;
  }
  .lookbook {
    margin-bottom: 56px;

    &__title {
      font-size: 25px;
    }

    &__img {
      width: 55%;
    }
  }
  .cards {
    flex-wrap: wrap;

    &__wrap {
      display: flex;
      justify-content: center;
    }

    &__block {
      display: flex;
      flex-direction: column;
      width: 100%;

      &:nth-child(even) {
        flex-direction: column-reverse;

        .cards__small {
          margin-top: 0;
          margin-bottom: 30px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 30px;
      }

    }

    &__big {
      height: 310px;
    }

    &__item {
      &-xl {
        height: 310px;
      }

      &-sm {
        height: 310px;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .hero {
    &__name {
      font-size: 206px;
      line-height: 206px;
    }
  }
  .popular {
    &__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  .lookbook {
    &__img {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 640px) {
  .container {
    padding: 0 16px;
  }
  .hero {
    height: 257px;

    &__btn {
      right: 0;
      width: 100%;
      bottom: 8px;
    }

    &__name {
      font-size: 98px;
      line-height: 98px;
      top: 40%;
    }

    &__content {
      height: 257px;

      &:after {
        background-position: -55px center;
      }
    }
  }
  .popular{
    &__wrap{
      padding-bottom: 28px;
    }
    &__list{
      display: none;
    }
  }
  .cards{
    &__block{
      &:nth-child(even){
        .cards__small {
          margin-top: 0;
          margin-bottom: 10px;
        }
      }
      &:not(:last-child){
        margin-bottom: 10px;
      }
      .cards__small{
        margin-bottom: 10px;
      }
    }
    &__small{
      .cards__content {
        width: calc(50% - 5px);
      }
    }
    &__price{
      font-size: 12px;
    }
    &__big{
      height: 200px;
    }
    &__item{
      &-sm{
        height: 200px;
      }
      &-xl{
        height: 200px;
      }
    }
  }
  .lookbook{
    margin-bottom: 26px;
    display: block;
    &__title{
      font-size: 22px;
      &-part{
        display: inline-block;
      }
    }
    &__img{
      width: 33%;
    }
    &__item{
      max-width: 100%;
      &:not(:last-child){
        margin-bottom: 15px;
      }
    }
  }
}
