.cards{
  &__sm{
    width: calc(25% - 15px);

  }
  &__lookbook{
    display: block;
    &-block{
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      .cards__content{
        &_sm{
          width: calc(25% - 20px);
        }
        &_half{
          width: calc(50% - 15px);
          display: flex;
          justify-content: space-between;

        }
        &_md{
          width: calc(25% - (90px / 4));
        }
      }

      .cards__banner{
        &-sm{
          height: 500px;
          width: 100%;
          position: relative;
          &:after{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-image: url(./../../img/banner-sm@3x.png);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
          }
        }
        &-big{
          position: relative;
          width: calc(75% - 10px);
          height: 500px;
          &:after{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-image: url(./../../img/banner-big@3x.png);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;

          }

        }
        .lookbook__content{
          align-items: start;
          margin-top: 60px;
          z-index: 1;
          position: relative;
        }
        .lookbook__title-part{
          display: inline;
          padding-left: 5px;
        }
        .lookbook__title{
          text-align: left;
        }
        .lookbook__description{
          text-align: left;
          max-width: 200px;
        }
      }
    }
  }
}
.banner-look{
  position: absolute;
  right: 10px;
  top: 100px;
  z-index: 3;
  &__title{
    text-transform: uppercase;
    font-size: 200px;
    font-weight: 700;
    line-height: 200px;
    letter-spacing: 5px;
    color: $green;
    text-align: right;
    margin: 0;
  }
  &__part{
    font-size: 72px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 72px;
    letter-spacing: 1.8px;
    color: #00c8c8;
    text-align: right;
    text-transform: uppercase;
    margin: 0;
  }
}
@media only screen and (max-width: 1700px){
  .cards__banner{
    .lookbook__content{
      margin-left: 40px;
      .btn-outline{
        margin: 0;
      }
    }
  }
  .banner-look{
    &__title{
      font-size: 175px;
      line-height: 175px;
    }
    &__part{
      font-size: 60px;
      line-height: 60px;
    }

  }
}
@media only screen and (max-width: 1325px){
  .cards__banner{
    &-sm, &-big{
      &:after{
        opacity: .5;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .main-banner{
    height: 320px;
    margin-bottom: 40px;
    &__title{
      font-size: 30px;
      margin-bottom: 28px;
    }
    &__description{
      font-size: 22px;
    }
  }
  .look{
    .popular{
      &__wrap{
        padding-top: 0;
        &::before{
          display: none;
        }
      }
      &__list{
        display: none;

      }
    }
  }
  .cards__lookbook{
    &-block{
      margin-bottom: 20px;
      flex-wrap: wrap;
      .cards__content_sm{
        width: calc(50% - 10px);
        &:not(:nth-last-child(-n+2)){
          margin-bottom: 20px;
        }
      }
      .tablet-block{
        width: 100%;
        margin-top: 20px;
      }
      .cards__banner-big{
        width: 100%;
        height: 370px;
        .banner-look{
          &__title{
            font-size: 115px;
            line-height: 115px;
          }
          &__part{
            font-size: 40px;
            line-height: 40px;
          }
        }
      }
      &:first-child{
        flex-direction: column-reverse;
        .cards__content_half{
          width: 100%;
          &.cards__content{
            margin-top: 20px;
            width: calc(50% - 10px);
          }
        }
      }
    }

  }

}
@media only screen and (max-width: 640px){
  .main-banner{
    height: 200px;
    &__title{
      font-size: 20px;
      margin-bottom: 18px;
    }
    &__description{
      font-size: 14px;
    }
  }
  .cards__lookbook{
    &-block{
      .cards__banner{
        &-sm{
          height: 370px;
          &:after{
            opacity: 0.3;
            background-position-x: right;
          }
        }
      }
    }
    .cards__banner-big{
      .banner-look{
        &__title{
          display: none;
        }
        &__part{
          display: none;
        }
      }
    }
}
}