.forms{
  display: flex;
  justify-content: space-between;
  padding-bottom: 124px;
  .form{
    width: calc(50% - 35px);
    &__name{
      font-size: 18px;
      line-height: 1.11;
      text-transform: uppercase;
      color: #575153;
      margin: 0 0 46px;
    }
    &__input{
      display: block;
      font-size: 15px;
      font-weight: 300;
      line-height: 1.47;
      color: #989898;
      padding: 15px 9px 11px 9px;
      border: solid 0.5px #e7e7e7;
      width: 100%;
      outline: none;
      &:not(:last-child){
        margin-bottom: 34px;
      }
    }
    &__buttons{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__link{
      text-decoration: none;
      font-size: 15px;
      line-height: 1.47;
      color: #00c8c8;
      position: relative;
      padding-right: 16px;
      &:before{
        content: "";
        background-image: url("../../img/ic-arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
        width: 13px;
        height: 15px;
        position: absolute;
        right: 0;
        top: 3px;
      }
    }
    &__desc{
      font-size: 15px;
      line-height: 1.47;
      color: #8e8c8c;
      margin: 0 0 0 67px;
      flex: 1;
      .form__link{
        line-height: inherit;
        font-size: inherit;
        padding-left: 3px;
      }
    }
  }
  .sign-in{
    position: relative;
    &::before{
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      background-color: #eeeeee;
      position: absolute;
      right: -35px;
    }


  }
}
.checkbox{
  margin-bottom: 30px;
  &__label{
    display: flex;
    align-items: center;
  }
  &__input{
    display: none;
    &:checked{
      &+.checkbox__square{
        background-color: $green;
        border-color: $green;
        &::before{
          display: block;
        }
      }
    }
  }
  &__mark{
    font-size: 14px;
    line-height: 1.47;
    color: #8e8c8c;
    padding-left: 11px;
    flex: 1;
  }
  &__square{
    display: flex;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 1px solid #e7e7e7;;
    align-items: center;
    justify-content: center;
    &::before{
      content: "";
      background-image: url("../../img/ic-check.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      display: none;
      width: 13px;
      height: 15px;
    }
  }
}
@media only screen and (max-width: 1024px){
  .main-banner{
    height: 320px;
    margin-bottom: 40px;
    &__title{
      font-size: 30px;
      margin-bottom: 28px;
    }
    &__description{
      font-size: 22px;
    }
  }
  .forms{
    padding-bottom: 60px;
    .form{
      &__buttons{
        flex-direction: column;
        align-items: flex-start;
        .btn-outline{
          width: 222px;
        }
      }
      &__link{
        display: block;
        margin-top: 10px;
      }
      &__desc{
        margin: 20px 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
@media only screen and (max-width: 640px){
  .main-banner{
    height: 200px;
    &__title{
      font-size: 20px;
      margin-bottom: 18px;
    }
    &__description{
      font-size: 14px;
    }
  }
  .forms{
    display: block;
    .form{
      width: 100%;
      &__buttons{
        .btn-outline{
          width: 100%;
        }
      }
    }
    .sign-in{
      margin-bottom: 50px;
      &:before{
        height: 1px;
        width: 100%;
        bottom: -20px;
        left: 0;
      }
    }
  }
}
