@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-Thin.ttf");
  font-weight: 100;
}
* {
  box-sizing: border-box;
  font-family: Montserrat;
}

.container {
  max-width: 1410px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}
.container_sm {
  max-width: 1220px;
}

body {
  margin: 0;
}
body.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.btn-outline {
  color: #454647;
  background-color: transparent;
  padding: 19px 34px 20px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #333;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-decoration: none;
  display: inline-block;
}
.btn-outline:hover {
  color: white;
  background-color: #00c8c8;
  border-color: #00c8c8;
}
.btn-dark {
  color: #454647;
  background-color: transparent;
  padding: 19px 34px 20px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #737373;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-decoration: none;
  display: inline-block;
}
.btn-dark:hover {
  color: white;
  background-color: #333333;
  border-color: #333333;
}
.btn-icon {
  display: flex;
  align-items: center;
}
.btn-icon img {
  max-width: 18px;
  object-fit: contain;
  margin-right: 10px;
  display: inline-block;
}

.header__top {
  background-color: #333333;
}
.header__custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__register {
  text-decoration: none;
  color: #999999;
  font-size: 13px;
  margin-right: 30px;
  line-height: 1.54;
}
.header__register:hover {
  color: #00c8c8;
}
.header__sign-in {
  text-decoration: none;
  color: #999999;
  font-size: 13px;
  margin-right: 40px;
  line-height: 1.54;
}
.header__sign-in:hover {
  color: #00c8c8;
}
.header__basket {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 1.62;
  background-color: #00c8c8;
  padding: 14px 22px;
}
.header__basket::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-style: none;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transform: rotate(-45deg);
  margin-left: 8px;
  margin-top: -2px;
}
.header__basket::before {
  content: "";
  display: block;
  background-image: url("../../img/ic-shopping-cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 17px;
  margin-right: 11px;
}
.header__main {
  position: relative;
  z-index: 3;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 58px 0;
}
.header__right-part {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  letter-spacing: 0.6px;
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
}
.logo__part {
  font-weight: 700;
}

.nav__menu {
  display: flex;
  padding: 0;
  margin: 0;
}
.nav__item {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}
.nav__item:not(:last-child) {
  margin-right: 58px;
}
.nav__item:hover .dropdown {
  display: block;
}
.nav__item:hover .nav__link {
  color: #00c8c8;
}
.nav__item:hover::after {
  border-left: 1px solid #00c8c8;
  border-bottom: 1px solid #00c8c8;
}
.nav__item:last-child .dropdown {
  transform: translateX(calc(-20%));
}
.nav__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25px;
  bottom: 0;
  transform: translateY(100%);
}
.nav__item::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-style: none;
  border-left: 1px solid #989898;
  border-bottom: 1px solid #989898;
  transform: rotate(-45deg);
  margin-left: 3px;
  margin-top: 8px;
  position: absolute;
  bottom: -11px;
}
.nav__link {
  transition: color 0.3s;
  text-decoration: none;
  color: #222222;
}

.search {
  margin-left: 115px;
  display: flex;
  position: relative;
}
.search::after {
  content: "";
  background-image: url("./../../img/ic-search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 13px;
  height: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 11px;
}
.search__input {
  outline: none;
  border: 1px solid #e7e7e7;
  font-size: 13px;
  background: transparent;
  line-height: 2.08;
  padding-left: 11px;
  padding-right: 30px;
  transition: border-color 0.3s;
}
.search__input::placeholder {
  color: #989898;
}
.search__input:focus {
  border-color: #989898;
}

.currency {
  font-size: 13px;
  line-height: 1.62;
  color: #777777;
}
.currency__select {
  display: none;
}
.currency .select2-container {
  transform: translate(0, 0);
}
.currency .select2-container--default .select2-selection--single {
  background-color: transparent;
  border: none;
  height: auto;
  outline: none;
}
.currency .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 13px;
  line-height: 1.62;
  color: #777777;
  padding-left: 4px;
  overflow: visible;
}
.currency .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 20px;
}
.currency .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: block;
  width: 4px;
  height: 4px;
  border-style: none;
  border-left: 1px solid #777777;
  border-bottom: 1px solid #777777;
  transform: rotate(-45deg);
  margin-left: -1px;
  margin-top: -3px;
}
.currency-dropdown {
  transform: translate(-7px, 13px);
  z-index: 3;
}
.currency-dropdown .select2-results__option {
  color: #777777;
  font-size: 13px;
  padding: 7px 10px;
}
.currency-dropdown .select2-results__option[aria-selected=true] {
  background-color: transparent;
}
.currency-dropdown .select2-results__option--highlighted[aria-selected] {
  background-color: transparent;
}
.currency-dropdown .select2-results > .select2-results__options {
  background-color: #333333;
  border: 1px solid #777777;
  border-top: none;
}

.dropdown {
  background-color: white;
  position: absolute;
  padding: 30px;
  box-shadow: 0px 8.5px 12px 0 rgba(0, 0, 0, 0.14);
  top: 40px;
  display: none;
}
.dropdown__lists {
  display: flex;
  margin-bottom: 62px;
}
.dropdown__list {
  list-style-type: none;
  padding-left: 0;
}
.dropdown__list:not(:last-child) {
  margin-right: 86px;
}
.dropdown__item {
  margin-bottom: 6px;
}
.dropdown__item:hover .dropdown__link:not(.dropdown__link_title) {
  text-decoration: underline;
  color: #727272;
}
.dropdown__item_title {
  margin-bottom: 33px;
}
.dropdown__item:last-child {
  margin-bottom: 0;
}
.dropdown__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.14;
  color: #727272;
}
.dropdown__link_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.67;
  color: #575153;
  text-transform: uppercase;
}
.dropdown__banner .banner {
  min-width: 407px;
}

.banner {
  display: inline-block;
  text-decoration: none;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 0.9px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
  padding: 53px;
}
.banner_part {
  font-weight: 300;
  display: block;
}

.footer {
  background-color: #f8f8f8;
  padding: 56px 0;
}
.footer__lists {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.footer__list {
  list-style-type: none;
  padding-left: 0;
}
.footer__list:last-child {
  max-width: 235px;
  width: 100%;
}
.footer__item {
  margin-bottom: 6px;
}
.footer__item:hover .footer__link:not(.footer__link_title) {
  text-decoration: underline;
  color: #727272;
}
.footer__item_title {
  margin-bottom: 33px;
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__link, .footer__item {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.14;
  color: #727272;
}
.footer__link_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.67;
  color: #575153;
  text-transform: uppercase;
}
.footer__banners {
  display: flex;
  justify-content: space-between;
}
.footer__social {
  display: flex;
  align-items: center;
  background-color: #00c8c8;
  padding: 0 146px;
}
.footer__link:not(:last-child) {
  margin-right: 58px;
}
.footer__icon {
  width: 32px;
  height: 32px;
}

.banner {
  display: inline-block;
  background-color: #333333;
  padding: 53px;
}

.brand {
  padding-bottom: 124px;
}
.brand__articles {
  display: flex;
  justify-content: space-between;
}
.brand__part {
  width: calc(50% - 15px);
}
.brand__img {
  display: block;
  width: 100%;
}
.brand__article .brand__img {
  margin-bottom: 29px;
}
.brand__article {
  margin-top: 62px;
}
.brand__title {
  font-size: 18px;
  line-height: 1.11;
  color: #575153;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 28px;
}
.brand__subtitle {
  font-size: 13px;
  color: #727272;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 19px;
}
.brand__description {
  font-size: 15px;
  line-height: 1.47;
  color: #8e8c8c;
  margin: 0;
}
.brand__link {
  color: #00c8c8;
  text-decoration: none;
}
.brand__logos {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.main-banner {
  display: flex;
  background-image: url("../../img/banner@3x.png");
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
  justify-content: center;
  margin-bottom: 63px;
}
.main-banner__title {
  font-size: 48px;
  font-weight: 300;
  line-height: 1.13;
  letter-spacing: 1.2px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 53px;
  text-transform: uppercase;
}
.main-banner__description {
  font-size: 30px;
  line-height: 1.8;
  letter-spacing: 0.75px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}

.stores__lists {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}
.stores__item {
  max-width: calc(33.3% - 20px);
}
.stores__title {
  font-size: 18px;
  line-height: 1.11;
  color: #575153;
  font-weight: 500;
  margin: 0 0 29px;
  text-transform: uppercase;
}
.stores__address {
  font-size: 13px;
  line-height: 1.54;
  color: #727272;
  font-weight: 500;
  margin: 0 0 18px;
  text-transform: uppercase;
}
.stores__description {
  font-size: 15px;
  line-height: 1.47;
  color: #8e8c8c;
  margin: 0 0 30px;
}
.stores__map {
  background-color: #f8f8f8;
  margin-bottom: 164px;
  display: flex;
  align-items: center;
}
.stores__frame {
  margin-right: 41px;
}
.stores__contacts {
  max-width: 548px;
  width: 100%;
  margin-right: 60px;
}
.stores__details {
  margin: 0 0 62px;
}
.stores__contact-list {
  padding: 0;
  margin: 0;
}
.stores__contact-item {
  list-style-type: none;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #8e8c8c;
}
.stores__icon-one {
  display: flex;
}
.stores__img {
  width: 16px;
  height: auto;
  display: block;
  margin-right: 14px;
}
.stores__link {
  width: 30px;
  height: 30px;
  background-color: #727272;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stores__link:not(:last-child) {
  margin-right: 14px;
}
.stores__icon {
  width: 20px;
  height: 20px;
}

.product {
  margin-bottom: 100px;
}
.product__slider {
  max-width: 570px;
}
.product__slider .slick-arrow {
  color: transparent;
  font-size: 0px;
  border: none;
  outline: none;
  width: 45px;
  height: 55px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 0;
  background-color: transparent;
  transition: background-color 0.3s;
}
.product__slider .slick-arrow::before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  border-style: none;
  border-left: 2px solid #575153;
  border-bottom: 2px solid #575153;
  position: absolute;
  top: 16.65px;
  transition: border 0.3s;
}
.product__slider .slick-arrow:hover {
  background-color: #00c8c8;
}
.product__slider .slick-arrow:hover::before {
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}
.product__slider .slick-prev {
  left: 0;
}
.product__slider .slick-prev::before {
  transform: rotate(45deg);
  left: 18.075px;
}
.product__slider .slick-next {
  right: 0;
}
.product__slider .slick-next::before {
  transform: rotate(225deg);
  right: 18.075px;
}
.product__slider-img {
  display: block;
}
.product__main {
  display: flex;
  margin-bottom: 38px;
}
.product__details {
  padding-left: 30px;
}
.product__reviews {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}
.product__reviews-title {
  font-size: 14px;
  font-weight: 500;
  color: #727272;
  padding-right: 14px;
  border-right: 1.5px solid #727272;
}
.product__reviews-add {
  font-size: 14px;
  font-weight: 500;
  color: #727272;
  text-decoration: none;
  border-right: 1.5px solid #727272;
  padding: 0 14px;
}
.product__reviews-add:hover {
  color: #00c8c8;
}
.product__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  color: #575153;
  margin: 0 0 29px;
}
.product__rating {
  display: flex;
  margin-right: 14px;
}
.product__rating svg {
  cursor: pointer;
  fill: #dfdfde;
}
.product__rating svg:hover ~ svg {
  fill: #ded3aa;
}
.product__social {
  display: flex;
  align-items: center;
}
.product__social-title {
  font-size: 14px;
  font-weight: 500;
  color: #727272;
  padding: 0 20px 0 14px;
}
.product__social-link:not(:last-child) {
  margin-right: 20px;
}
.product__social-icon {
  width: 16px;
  height: 16px;
  display: block;
}
.product__icon {
  width: 16px;
  height: 16px;
  display: block;
}
.product__info {
  margin-bottom: 36px;
}
.product__info-item {
  display: flex;
}
.product__info-item:not(:last-child) {
  margin-bottom: 15px;
}
.product__info-title {
  margin: 0 6px 0 0;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #575153;
  line-height: 15px;
}
.product__info-desc {
  margin: 0;
  font-size: 15px;
  line-height: 15px;
  color: #8c8c8c;
}
.product__info-links {
  color: #00c8c8;
  font-size: 15px;
  display: flex;
  line-height: 15px;
}
.product__info-tags {
  display: block;
  text-decoration: none;
  font-size: 15px;
  line-height: 15px;
  color: #00c8c8;
  padding: 0 2px;
}
.product__description {
  margin-bottom: 46px;
}
.product__description-content {
  font-size: 15px;
  line-height: 20px;
  color: #8e8c8c;
  margin: 0 0 15px 0;
}
.product__description-list {
  padding-left: 18px;
  margin: 0;
}
.product__description-item {
  font-size: 15px;
  line-height: 15px;
  color: #8e8c8c;
}
.product__description-item:not(:last-child) {
  margin-bottom: 10px;
}
.product__compare {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  color: #454647;
  text-transform: uppercase;
  margin-top: 30px;
}
.product__buttons {
  display: flex;
  flex-wrap: wrap;
}
.product__buttons .btn-dark:first-child {
  margin-right: 26px;
}
.product__buttons .btn-icon .icon-light {
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s;
}
.product__buttons .btn-icon:hover .icon-light {
  opacity: 1;
  position: static;
}
.product__buttons .btn-icon:hover .icon-dark {
  opacity: 0;
  position: absolute;
}
.product__settings {
  display: flex;
  margin-bottom: 59px;
  align-items: center;
}
.product__setting {
  margin-right: 30px;
}
.product__setting-name {
  display: block;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #575153;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.product__setting-select + .select2 {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
  color: #989898;
}
.product__setting-select + .select2 * {
  outline: none;
}
.product__setting-select + .select2 .select2-selection--single {
  height: auto;
  line-height: 1;
  border-radius: 0;
}
.product__setting-select + .select2 .select2-selection--single .select2-selection__arrow {
  height: 35px;
}
.product__setting-select + .select2 .select2-selection--single .select2-selection__arrow::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: center;
  position: absolute;
  top: 45%;
  right: 15px;
}
.product__setting-select + .select2 .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.product__setting-select + .select2 .select2-selection--single .select2-selection__rendered {
  line-height: 1;
  max-height: 35px;
  padding: 13px 10px 12px 10px;
}
.product__setting-select + .select2.select2-container--open .select2-selection--single .select2-selection__arrow::before {
  border-left: 1px solid #666;
  border-top: 1px solid #666;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  top: calc(45% + 4px);
}

.settings-dropdown .select2-results__option--highlighted[aria-selected] {
  background-color: #666;
}
.settings-dropdown .select2-results__options {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
  color: #989898;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #727272;
  border-radius: 50%;
  margin-right: 14px;
}
.icon::before {
  content: "";
  display: block;
  background-image: url("./../../img/product-view/ic-compare.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 16px;
  height: 16px;
}

.tabs__labels {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
}
.tabs__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #575153;
  text-transform: uppercase;
  padding: 20px 16px;
  cursor: pointer;
}
.tabs__title:hover, .tabs__title.active {
  color: white;
  background-color: #333333;
}
.tabs__content {
  padding: 30px 16px;
}
.tabs__name {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.54;
  color: #727272;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 22px;
}
.tabs__desc {
  font-size: 15px;
  line-height: 1.47;
  color: #8e8c8c;
  margin: 0;
}
.tabs__desc:not(:last-child) {
  padding-bottom: 30px;
}
.tabs__input {
  display: none;
}
.tabs__input:checked + .tabs__content {
  display: block;
}
.tabs__content {
  display: none;
}

.price {
  margin-bottom: 27px;
  display: flex;
  align-items: center;
}
.price__old {
  margin-right: 20px;
}
.price__old::before {
  content: "";
  display: block;
  height: 1px;
  width: 50px;
  background-color: #9a9a9a;
  position: absolute;
  top: 50%;
  left: 25%;
}
.price__value {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.75px;
  color: #9a9a9a;
  line-height: 22px;
  padding-left: 10px;
  position: relative;
}
.price__value sup {
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  top: 0;
  left: 0;
}

.forms {
  display: flex;
  justify-content: space-between;
}
.forms .form {
  width: calc(50% - 35px);
}
.forms .form__name {
  font-size: 18px;
  line-height: 1.11;
  text-transform: uppercase;
  color: #575153;
  margin: 0 0 46px;
}
.forms .form__input {
  display: block;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.47;
  color: #989898;
  padding: 15px 9px 11px 9px;
  border: solid 0.5px #e7e7e7;
  width: 100%;
  outline: none;
}
.forms .form__input:not(:last-child) {
  margin-bottom: 34px;
}
.forms .form__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.forms .form__link {
  text-decoration: none;
  font-size: 15px;
  line-height: 1.47;
  color: #00c8c8;
  position: relative;
}
.forms .form__link:before {
  content: "";
  background-image: url("../../img/ic-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 13px;
  height: 15px;
  position: absolute;
  right: 0;
}
.forms .form__desc {
  font-size: 15px;
  line-height: 1.47;
  color: #8e8c8c;
  margin: 0;
}
.forms .sign-in {
  position: relative;
}
.forms .sign-in::before {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background-color: #eeeeee;
  position: absolute;
  right: -35px;
}

.checkbox {
  margin-bottom: 30px;
}
.checkbox__label {
  display: flex;
  align-items: center;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__square {
  background-color: #00c8c8;
  border-color: #00c8c8;
}
.checkbox__input:checked + .checkbox__square::before {
  display: block;
}
.checkbox__mark {
  font-size: 14px;
  line-height: 1.47;
  color: #8e8c8c;
  padding-left: 11px;
}
.checkbox__square {
  display: flex;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: 1px solid #e7e7e7;
  align-items: center;
  justify-content: center;
}
.checkbox__square::before {
  content: "";
  background-image: url("../../img/ic-check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
  width: 13px;
  height: 15px;
}

.cards__sm {
  width: calc(25% - 15px);
}
.cards__lookbook {
  display: block;
}
.cards__lookbook-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.cards__lookbook-block .cards__content_sm {
  width: calc(25% - 20px);
}
.cards__lookbook-block .cards__content_half {
  width: calc(50% - 15px);
  display: flex;
  justify-content: space-between;
}
.cards__lookbook-block .cards__content_md {
  width: calc(25% - (90px / 4));
}
.cards__lookbook-block .cards__banner {
  height: 500px;
  background-image: url(./../../img/banner-sm@3x.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}
.cards__lookbook-block .cards__banner-big {
  position: relative;
  width: calc(75% - 10px);
  height: 500px;
  background-image: url(./../../img/banner-big@3x.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.cards__lookbook-block .cards__banner .lookbook__content {
  align-items: start;
  margin-top: 60px;
}
.cards__lookbook-block .cards__banner .lookbook__title-part {
  display: inline;
  padding-left: 5px;
}
.cards__lookbook-block .cards__banner .lookbook__title {
  text-align: left;
}
.cards__lookbook-block .cards__banner .lookbook__description {
  text-align: left;
  max-width: 200px;
}

.banner-look {
  position: absolute;
  right: 10px;
  top: 100px;
}
.banner-look__title {
  text-transform: uppercase;
  font-size: 200px;
  font-weight: 700;
  line-height: 200px;
  letter-spacing: 5px;
  color: #00c8c8;
  text-align: right;
  margin: 0;
}
.banner-look__part {
  font-size: 72px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 72px;
  letter-spacing: 1.8px;
  color: #00c8c8;
  text-align: right;
  text-transform: uppercase;
  margin: 0;
}

.hero {
  background-image: url("../../img/main@3x.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: #f8f8f8;
  margin-top: -147px;
  margin-bottom: 62px;
  height: 830px;
}
.hero__bg {
  display: block;
}
.hero__content {
  position: relative;
  height: 830px;
}
.hero__name {
  font-size: 450px;
  font-weight: 700;
  color: #575153;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.hero__btn {
  position: absolute;
  bottom: 70px;
  right: 140px;
}

.popular {
  margin-bottom: 62px;
}
.popular__wrap {
  position: relative;
  padding: 54px 0 62px;
}
.popular__wrap::after, .popular__wrap::before {
  content: "";
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background-color: #eeeeee;
  position: absolute;
}
.popular__wrap::after {
  bottom: 0;
}
.popular__wrap::before {
  top: 0;
}
.popular__list {
  display: flex;
  margin: 0 0 64px;
  padding: 0;
}
.popular__item {
  list-style-type: none;
}
.popular__item:not(:last-child) {
  margin-right: 56px;
}
.popular__item:hover .popular__link {
  color: #00c8c8;
}
.popular__link {
  text-decoration: none;
  font-size: 13px;
  line-height: 1.54;
  color: #727272;
  text-transform: uppercase;
  transition: color 0.3s;
}

.cards {
  display: flex;
  justify-content: space-between;
}
.cards__content {
  position: relative;
  background-color: #f8f8f8;
  transition: box-shadow 0.3s;
}
.cards__content img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.cards__content:hover {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.14);
}
.cards__content:hover .cards__detail {
  box-shadow: 0 13px 12px 0 rgba(0, 0, 0, 0.14);
}
.cards__content:hover .cards__detail, .cards__content:hover .cards__photo, .cards__content:hover::before {
  display: block;
}
.cards__detail {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 21px 34px 17px;
  text-align: center;
  transform: translateY(100%);
  display: none;
  z-index: 1;
  transition: box-shadow 0.3s;
}
.cards__title {
  font-size: 13px;
  line-height: 1.54;
  text-align: center;
  color: #727272;
  text-transform: uppercase;
  margin: 0 0 19px;
}
.cards__desc {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  text-align: center;
  color: #8e8c8c;
  margin: 0 0 17px;
}
.cards__icons {
  display: flex;
  justify-content: center;
}
.cards__link {
  width: 30px;
  height: 30px;
  background-color: #727272;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards__link:not(:last-child) {
  margin-right: 10px;
}
.cards__link:hover {
  background-color: #00c8c8;
}
.cards__icon {
  width: 16px;
  height: 16px;
}
.cards__block {
  width: calc(50% - 15px);
}
.cards__block .cards__small {
  margin-bottom: 30px;
}
.cards__block:last-child .cards__small {
  margin-bottom: 0;
  margin-top: 30px;
}
.cards__small {
  display: flex;
  justify-content: space-between;
}
.cards__small .cards__content {
  width: calc(50% - 15px);
}
.cards__item-sm {
  height: 500px;
}
.cards__item-xl {
  height: 704px;
}
.cards__big {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 704px;
}
.cards__wrap {
  display: block;
}
.cards__price {
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 0.53px;
  color: #9a9a9a;
  position: absolute;
  top: 10px;
  left: 10px;
}

.lookbook {
  display: flex;
  margin-bottom: 124px;
  justify-content: space-between;
}
.lookbook__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  margin-left: 40px;
}
.lookbook__item {
  display: flex;
  background-color: #f8f8f8;
  max-width: calc(33.3% - 20px);
  padding: 40px 57px 0 40px;
}
.lookbook__img {
  width: 38.76%;
}
.lookbook__title {
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 1.2px;
  color: #575153;
  font-weight: 500;
  text-transform: uppercase;
  text-align: right;
}
.lookbook__title-part {
  font-weight: 300;
  display: block;
}
.lookbook__description {
  font-size: 15px;
  line-height: 1.47;
  color: #727272;
  margin: 29px 0 31px;
  text-align: right;
}

.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: none;
  justify-content: flex-end;
}
.popup.active {
  display: flex;
}

.basket {
  padding: 0 23px;
  background-color: #fff;
  height: 100vh;
  width: 400px;
  z-index: 4;
  display: flex;
  flex-direction: column;
}
.basket__main {
  overflow: auto;
  flex: 1;
}
.basket__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid #eeeeee;
}
.basket__footer {
  padding: 25px 0;
  border-top: 1px solid #eeeeee;
}
.basket__title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}
.basket__content {
  padding-right: 70px;
}
.basket__name {
  margin: 0 0 10px;
  font-size: 12px;
}
.basket__info {
  display: flex;
  margin-bottom: 7px;
}
.basket__info-title {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}
.basket__info-desc {
  margin: 0;
  font-size: 12px;
  padding-left: 6px;
}
.basket__price {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
.basket__photo-item {
  height: 100px;
}
.basket__item {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.basket__btn {
  width: 100%;
}
.basket__total {
  display: flex;
  justify-content: space-between;
}

.close {
  position: relative;
  width: 13px;
  height: 13px;
  cursor: pointer;
}
.close span {
  display: block;
  width: 13px;
  height: 1px;
  background-color: #333333;
  position: absolute;
  top: 6px;
  left: 0;
}
.close span:first-child {
  transform: rotate(45deg);
}
.close span:last-child {
  transform: rotate(-45deg);
}

.close-sm {
  position: relative;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.close-sm span {
  display: block;
  width: 10px;
  height: 1px;
  background-color: #333333;
  position: absolute;
  top: 4px;
  left: 0;
}
.close-sm span:first-child {
  transform: rotate(45deg);
}
.close-sm span:last-child {
  transform: rotate(-45deg);
}

/*# sourceMappingURL=index.css.map */
