<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="./../modules/select2/index.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="./../src/style/css/index.css">
  <title>Avenue Fashion</title>
</head>
<body>
<header class="header">
  <div class="header__top">
    <div class="container container_sm">
      <div class="header__custom">
        <label class="currency">
          <span class="currency__name">Currency :</span>
          <select class="currency__select" id="currencySelect" name="currency">
            <option value="GBP">GBP</option>
            <option value="EUR">EUR</option>
            <option value="UAH">UAH</option>
            <option value="USD">USD</option>
          </select>
        </label>
        <div class="header__right">
          <a href="#" class="header__register">Register</a>
          <a href="#" class="header__sign-in">Sign In</a>
          <div class="header__button">
            <a href="#" class="header__basket">Basket</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__main">
    <div class="container">
      <div class="header__content">
        <a href="/eCommerce" class="logo"><span class="logo__part">avenue</span> fashion</a>
        <div class="header__right-part">
          <nav class="nav">
            <ul class="nav__menu">
              <li class="nav__item"><a href="#" class="nav__link">mens</a>
                <div class="dropdown">
                  <div class="dropdown__lists">
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">casuals</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Hoodies &
                        Sweatshirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Polo
                        Shirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Sportswear</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers &
                        Chinos</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">T-Shirts</a>
                      </li>
                    </ul>
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">Formal</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Shirts</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Suits</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown__banner"><a href="#" class="banner">Autumn sale! <span
                      class="banner_part"> up to 50% off</span></a></div>
                </div>
              </li>
              <li class="nav__item"><a href="#" class="nav__link">womens</a>
                <div class="dropdown">
                  <div class="dropdown__lists">
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">casuals</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Hoodies &
                        Sweatshirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Polo
                        Shirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Sportswear</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers &
                        Chinos</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">T-Shirts</a>
                      </li>
                    </ul>
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">Formal</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Shirts</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Suits</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown__banner"><a href="#" class="banner">Autumn sale! <span
                      class="banner_part"> up to 50% off</span></a></div>
                </div>
              </li>
              <li class="nav__item"><a href="./brand.html" class="nav__link">the brand</a>
                <div class="dropdown">
                  <div class="dropdown__lists">
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">casuals</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Hoodies &
                        Sweatshirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Polo
                        Shirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Sportswear</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers &
                        Chinos</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">T-Shirts</a>
                      </li>
                    </ul>
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">Formal</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Shirts</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Suits</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown__banner"><a href="/" class="banner">Autumn sale! <span
                      class="banner_part"> up to 50% off</span></a></div>
                </div>
              </li>
              <li class="nav__item"><a href="./stores.html" class="nav__link">local stores</a>
                <div class="dropdown">
                  <div class="dropdown__lists">
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href=""
                                                                         class="dropdown__link dropdown__link_title">casuals</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Hoodies &
                        Sweatshirts</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Polo Shirts</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Sportswear</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Trousers &
                        Chinos</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">T-Shirts</a>
                      </li>
                    </ul>
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href=""
                                                                         class="dropdown__link dropdown__link_title">Formal</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Shirts</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Suits</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Trousers</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown__banner"><a href="/" class="banner">Autumn sale! <span
                      class="banner_part"> up to 50% off</span></a></div>
                </div>
              </li>
              <li class="nav__item"><a href="#" class="nav__link">look book</a>
                <div class="dropdown">
                  <div class="dropdown__lists">
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href=""
                                                                         class="dropdown__link dropdown__link_title">casuals</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Hoodies &
                        Sweatshirts</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Polo Shirts</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Sportswear</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Trousers &
                        Chinos</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">T-Shirts</a>
                      </li>
                    </ul>
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href=""
                                                                         class="dropdown__link dropdown__link_title">Formal</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Shirts</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Suits</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Trousers</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown__banner"><a href="/" class="banner">Autumn sale! <span
                      class="banner_part"> up to 50% off</span></a></div>
                </div>
              </li>
            </ul>
          </nav>
          <label class="search">
            <input type="search" class="search__input" placeholder="Search">
          </label>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="brand">
  <section class="main-banner">
    <div class="main-banner__content">
    <p class="main-banner__title">the brand</p>
    <p class="main-banner__description">company slogan goes here</p>
    </div>
  </section>
  <section class="brand__content">
    <div class="container container_sm">
      <div class="brand__articles">
        <div class="brand__part">
          <img src="../src/img/brand/article_one.png" alt="hand designed clothing" class="brand__img"
          srcset="../src/img/brand/article_one@2x.png, ../src/img/brand/article_one@3x.png">
          <article class="brand__article">
            <img src="../src/img/brand/article_two.png" alt="our values, vision and strategy" class="brand__img"
                 srcset="../src/img/brand/article_two@2x.png, ../src/img/brand/article_two@3x.png">
            <p class="brand__title">our values, vision and strategy</p>
            <p class="brand__subtitle">The above image would be a great place for an advertising video</p>
            <p class="brand__description">Cras maximus venenatis malesuada. Nulla sagittis elit felis, ac facilisis quam ornare aliquam. Etiam cursus odio vitae dui dignissim, sed tempus lacus tincidunt et donec sapien velit, rhoncus eu nulla a, molestie tempus mi maecenas sagittis ornare.
              Pellentesque sapien mi, <a href="#" class="brand__link">tincidunt nec magna vitae</a>, volutpat elementum odioni lorem Aliquam tempor massa vitae augue mattis tempor id in ante ut augue erat, luctus eil.
            </p>
          </article>
        </div>
        <div class="brand__part">
          <div class="brand__article">
          <p class="brand__title">hand designed clothing</p>
          <p class="brand__subtitle">established in 2013, avenue fashion Sed dictum elit vel sapien luctus eras</p>
          <p class="brand__description">Praesent feugiat malesuada tristique maecenas rhoncus diam eget quam vestibulim consectetur, id condimentum leo porttitor. Cum sociis natoque penatibus eta magnis disut parturient montes, nascetur ridiculus mus. Donec sem lorem laoreet tempor un risus vitae, rutrum sodales nibh suspendisse congue metus nunc, id viverra elit loreti rhoncus quis consecteur es. Donec pulvinar tempor lorem a pretium justo interdum.
          </p>
          </div>
          <article class="brand__article">
            <img src="../src/img/brand/article_three.png" alt="Ethical trading" class="brand__img"
                 srcset="../src/img/brand/article_three@2x.png, ../src/img/brand/article_three@3x.png">
            <p class="brand__title">Ethical trading</p>
            <p class="brand__subtitle">we oversee the working conditions of the people in the supply chain</p>
            <p class="brand__description">Nullam dapibus consectetur neque, faucibus porttitor purus iaculis sed. Aenean eras dapibus augue, eget dignissim dui maecenas et rhoncus mim, vel semper arcu lorem
              Pellentesque congue justo esteir pellentesque aliquet massa eget posuere tincidunt. Cras viverra ullamcorper nunc accumsan hendrerit. <a href="#" class="brand__link">A link > </a>
            </p>
          </article>
          <div class="brand__logos">
            <img src="../src/img/brand/logo_one@2x.png" alt="logo" class="brand__logo">
            <img src="../src/img/brand/logo_two@2x.png" alt="logo" class="brand__logo">
            <img src="../src/img/brand/logo_three@2x.png" alt="logo" class="brand__logo">
          </div>

        </div>
      </div>
    </div>
  </section>

</main>
<footer class="footer">
  <div class="container container_sm">
    <div class="footer__lists">
      <ul class="footer__list">
        <li class="footer__item footer__item_title"><a href="#" class="footer__link footer__link_title">Information</a>
        </li>
        <li class="footer__item"><a href="#" class="footer__link">The brand</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Local stores</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Customer service</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Privacy & cookies</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Site map</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item footer__item_title"><a href="#" class="footer__link footer__link_title">Why
          buy from us</a>
        </li>
        <li class="footer__item"><a href="#" class="footer__link">Shipping & returns</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Secure shopping</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Testimonials</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Award winning</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Ethical trading</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item footer__item_title"><a href="#" class="footer__link footer__link_title">Your
          account</a>
        </li>
        <li class="footer__item"><a href="#" class="footer__link">Sign in</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Register</a></li>
        <li class="footer__item"><a href="#" class="footer__link">View cart</a></li>
        <li class="footer__item"><a href="#" class="footer__link">View your lookbook</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Track an order</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Update information</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item footer__item_title"><a href="#"
                                                       class="footer__link footer__link_title">Lookbook</a>
        </li>
        <li class="footer__item"><a href="#" class="footer__link">Latest posts</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Men’s lookbook</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Women’s lookbook</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Lookbooks RSS feed</a></li>
        <li class="footer__item"><a href="#" class="footer__link">View your lookbook</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Delete your lookbook</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item footer__item_title"><a href="#" class="footer__link footer__link_title">contact
          details</a>
        </li>
        <li class="footer__item">Head Office: Avenue Fashion,
          180-182 Regent Street, London.</li>
        <li class="footer__item">Telephone:<a href="tel:0123456789" class="footer__link"> 0123-456-789 </a></li>
        <li class="footer__item">Email:<a href="mailto:support@yourwebsite.com" class="footer__link"> support@yourwebsite.com</a></li>
      </ul>
    </div>
    <div class="footer__banners">
      <div class="footer__banner"><a href="#" class="banner">award winner <span
          class="banner_part"> fashion awards 2019</span></a>
      </div>
      <div class="footer__social">
        <a href="#" class="footer__link"><img src="./../src/img/ic-facebook.svg" alt="facebook"
                                              class="footer__icon"></a>
        <a href="#" class="footer__link"><img src="./../src/img/ic-twitter.svg" alt="twitter" class="footer__icon"></a>
        <a href="#" class="footer__link"><img src="./../src/img/ic-pinterest.svg" alt="pinterest"
                                              class="footer__icon"></a>
        <a href="#" class="footer__link"><img src="./../src/img/ic-instagram.svg" alt="instagram"
                                              class="footer__icon"></a>
      </div>
    </div>

  </div>
</footer>
<script src="./../modules/jQuery/index.js"></script>
<script src="./../modules/select2/index.min.js"></script>
<script src="./../src/js/index.js"></script>
</body>
</html>
