<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="./../modules/select2/index.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="./../src/style/css/index.css">
  <title>Avenue Fashion</title>
</head>
<body>

<header class="header">
  <div class="header__top">
    <div class="container container_sm">
      <div class="header__custom">
        <label class="currency">
          <span class="currency__name">Currency :</span>
          <select class="currency__select" id="currencySelect" name="currency">
            <option value="GBP">GBP</option>
            <option value="EUR">EUR</option>
            <option value="UAH">UAH</option>
            <option value="USD">USD</option>
          </select>
        </label>
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <a href="/eCommerce" class="logo"><span class="logo__part">avenue</span> fashion</a>
        <a href="/eCommerce" class="logo logo-mobile"><span class="logo__part">a</span>f</a>
        <div class="header__right">
          <a href="/eCommerce/templates/sign-in.html" class="header__register">Register</a>
          <a href="/eCommerce/templates/sign-in.html" class="header__sign-in">Sign In</a>
          <div class="header__button">
            <a href="#" class="header__basket">Basket</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__main">
    <div class="container">
      <div class="header__content">
        <a href="/eCommerce" class="logo"><span class="logo__part">avenue</span> fashion</a>
        <div class="header__right-part">
          <nav class="nav">
            <ul class="nav__menu">
              <li class="nav__item"><a href="/eCommerce/templates/product-view.html" class="nav__link">mens</a>
                <div class="dropdown">
                  <div class="dropdown__lists">
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">casuals</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Hoodies &
                        Sweatshirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Polo
                        Shirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Sportswear</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers &
                        Chinos</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">T-Shirts</a>
                      </li>
                    </ul>
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">Formal</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Shirts</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Suits</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown__banner"><a href="#" class="banner">Autumn sale! <span
                      class="banner_part"> up to 50% off</span></a></div>
                </div>
              </li>
              <li class="nav__item"><a href="/eCommerce/templates/product-view.html" class="nav__link">womens</a>
                <div class="dropdown">
                  <div class="dropdown__lists">
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">casuals</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Hoodies &
                        Sweatshirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Polo
                        Shirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Sportswear</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers &
                        Chinos</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">T-Shirts</a>
                      </li>
                    </ul>
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">Formal</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Shirts</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Suits</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown__banner"><a href="#" class="banner">Autumn sale! <span
                      class="banner_part"> up to 50% off</span></a></div>
                </div>
              </li>
              <li class="nav__item"><a href="/eCommerce/templates/brand.html" class="nav__link">the brand</a>
                <div class="dropdown">
                  <div class="dropdown__lists">
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">casuals</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Hoodies &
                        Sweatshirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Polo
                        Shirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Sportswear</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers &
                        Chinos</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">T-Shirts</a>
                      </li>
                    </ul>
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">Formal</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Shirts</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Suits</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown__banner"><a href="/" class="banner">Autumn sale! <span
                      class="banner_part"> up to 50% off</span></a></div>
                </div>
              </li>
              <li class="nav__item"><a href="/eCommerce/templates/stores.html" class="nav__link">local stores</a>
                <div class="dropdown">
                  <div class="dropdown__lists">
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href=""
                                                                         class="dropdown__link dropdown__link_title">casuals</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Hoodies &
                        Sweatshirts</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Polo Shirts</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Sportswear</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Trousers &
                        Chinos</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">T-Shirts</a>
                      </li>
                    </ul>
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href=""
                                                                         class="dropdown__link dropdown__link_title">Formal</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Shirts</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Suits</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Trousers</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown__banner"><a href="/" class="banner">Autumn sale! <span
                      class="banner_part"> up to 50% off</span></a></div>
                </div>
              </li>
              <li class="nav__item"><a href="/eCommerce/templates/lookbook.html" class="nav__link">look book</a>
                <div class="dropdown">
                  <div class="dropdown__lists">
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href=""
                                                                         class="dropdown__link dropdown__link_title">casuals</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Hoodies &
                        Sweatshirts</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Polo Shirts</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Sportswear</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Trousers &
                        Chinos</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">T-Shirts</a>
                      </li>
                    </ul>
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href=""
                                                                         class="dropdown__link dropdown__link_title">Formal</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Shirts</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Suits</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Trousers</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown__banner"><a href="/" class="banner">Autumn sale! <span
                      class="banner_part"> up to 50% off</span></a></div>
                </div>
              </li>
            </ul>
          </nav>
          <label class="search">
            <input type="search" class="search__input" placeholder="Search">
          </label>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="look">
  <section class="main-banner">
    <div class="main-banner__content">
      <p class="main-banner__title">our lookbook</p>
      <p class="main-banner__description">Latest Posts - mens & womens</p>
    </div>
  </section>
  <section class="popular">
    <div class="container">
      <div class="popular__wrap">
        <ul class="popular__list">
          <li class="popular__item"><a href="#" class="popular__link">popular</a></li>
          <li class="popular__item"><a href="#" class="popular__link">new arrivals</a></li>
          <li class="popular__item"><a href="#" class="popular__link">best sellers</a></li>
          <li class="popular__item"><a href="#" class="popular__link">special offers</a></li>
          <li class="popular__item"><a href="#" class="popular__link">coming soon</a></li>
        </ul>
        <div class="cards__lookbook">
          <div class="cards__lookbook-block">
            <div class="cards__content_half">
              <div class="cards__content cards__content_half">
                <a href="./../templates/product-view.html" class="cards__wrap">
                  <span class="cards__price">£89.99</span>
                  <img src="../src/img/first-photo.png"
                       srcset="../src/img/first-photo@2x.png 2x, ../src/img/first-photo@3x.png 3x" alt="T-shirt"
                       class="cards__item-sm">
                </a>
                <div class="cards__detail">
                  <h2 class="cards__title">Womens burnt casual £29.95</h2>
                  <p class="cards__desc">Classic casual t-shirt for women on the move. 100% cotton.</p>
                  <div class="cards__icons">
                    <a href="#" class="cards__link"><img src="./../src/img/ic-shopping-cart.svg" alt="basket" class="cards__icon"></a>
                    <a href="#" class="cards__link"><img src="./../src/img/ic-heart.svg" alt="like" class="cards__icon"></a>
                    <a href="#" class="cards__link"><img src="./../src/img/product-view/ic-compare.svg" alt="compare" class="cards__icon"></a>


                  </div>
                </div>
              </div>
              <div class="cards__content cards__content_half">
                <a href="./../templates/product-view.html" class="cards__wrap">
                <span class="cards__price">£89.99</span>
                <img src="../src/img/second-photo.png"
                     srcset="../src/img/second-photo@2x.png 2x, ../src/img/second-photo@3x.png 3x"
                     alt="T-shirt"
                     class="cards__item-sm">
                </a>
                <div class="cards__detail">
                  <h2 class="cards__title">Womens burnt casual £29.95</h2>
                  <p class="cards__desc">Classic casual t-shirt for women on the move. 100% cotton.</p>
                  <div class="cards__icons">
                    <a href="#" class="cards__link"><img src="./../src/img/ic-shopping-cart.svg" alt="basket" class="cards__icon"></a>
                    <a href="#" class="cards__link"><img src="./../src/img/ic-heart.svg" alt="like" class="cards__icon"></a>
                    <a href="#" class="cards__link"><img src="./../src/img/product-view/ic-compare.svg" alt="compare" class="cards__icon"></a>


                  </div>
                </div>
              </div>
            </div>
            <div class="cards__content_half">
              <div class="cards__banner cards__banner-sm">
                <div class="lookbook__content">
                  <span class="lookbook__title">Jane’s<span class="lookbook__title-part">lookbook</span></span>
                  <div
                      class="lookbook__description">We invited actress Jane Marshall to join us
                  for the day and choose her perfect outfit from
                  our vast range of womens fashion.
                  </div>
                  <a href="#" class="btn-outline">view now</a>
                </div>

              </div>
            </div>
          </div>
          <div class="cards__lookbook-block">
            <div class="cards__content cards__content_sm">
              <a href="./../templates/product-view.html" class="cards__wrap">
                <span class="cards__price">£89.99</span>
                <img src="../src/img/first-photo.png"
                     srcset="../src/img/first-photo@2x.png 2x, ../src/img/first-photo@3x.png 3x" alt="T-shirt"
                     class="cards__item-sm">
              </a>
              <div class="cards__detail">
                <h2 class="cards__title">Womens burnt casual £29.95</h2>
                <p class="cards__desc">Classic casual t-shirt for women on the move. 100% cotton.</p>
                <div class="cards__icons">
                  <a href="#" class="cards__link"><img src="./../src/img/ic-shopping-cart.svg" alt="basket" class="cards__icon"></a>
                  <a href="#" class="cards__link"><img src="./../src/img/ic-heart.svg" alt="like" class="cards__icon"></a>
                  <a href="#" class="cards__link"><img src="./../src/img/product-view/ic-compare.svg" alt="compare" class="cards__icon"></a>


                </div>
              </div>
            </div>
            <div class="cards__content cards__content_sm">
              <a href="./../templates/product-view.html" class="cards__wrap">
              <span class="cards__price">£89.99</span>
              <img src="../src/img/second-photo.png"
                   srcset="../src/img/second-photo@2x.png 2x, ../src/img/second-photo@3x.png 3x"
                   alt="T-shirt"
                   class="cards__item-sm">
              </a>
              <div class="cards__detail">
                <h2 class="cards__title">Womens burnt casual £29.95</h2>
                <p class="cards__desc">Classic casual t-shirt for women on the move. 100% cotton.</p>
                <div class="cards__icons">
                  <a href="#" class="cards__link"><img src="./../src/img/ic-shopping-cart.svg" alt="basket" class="cards__icon"></a>
                  <a href="#" class="cards__link"><img src="./../src/img/ic-heart.svg" alt="like" class="cards__icon"></a>
                  <a href="#" class="cards__link"><img src="./../src/img/product-view/ic-compare.svg" alt="compare" class="cards__icon"></a>


                </div>
              </div>
            </div>
            <div class="cards__content cards__content_sm">
              <a href="./../templates/product-view.html" class="cards__wrap">
                <span class="cards__price">£89.99</span>
                <img src="../src/img/first-photo.png"
                     srcset="../src/img/first-photo@2x.png 2x, ../src/img/first-photo@3x.png 3x" alt="T-shirt"
                     class="cards__item-sm">
              </a>
              <div class="cards__detail">
                <h2 class="cards__title">Womens burnt casual £29.95</h2>
                <p class="cards__desc">Classic casual t-shirt for women on the move. 100% cotton.</p>
                <div class="cards__icons">
                  <a href="#" class="cards__link"><img src="./../src/img/ic-shopping-cart.svg" alt="basket" class="cards__icon"></a>
                  <a href="#" class="cards__link"><img src="./../src/img/ic-heart.svg" alt="like" class="cards__icon"></a>
                  <a href="#" class="cards__link"><img src="./../src/img/product-view/ic-compare.svg" alt="compare" class="cards__icon"></a>


                </div>
              </div>
            </div>
            <div class="cards__content cards__content_sm">
              <a href="./../templates/product-view.html" class="cards__wrap">
              <span class="cards__price">£89.99</span>
              <img src="../src/img/second-photo.png"
                   srcset="../src/img/second-photo@2x.png 2x, ../src/img/second-photo@3x.png 3x"
                   alt="T-shirt"
                   class="cards__item-sm">
              </a>
              <div class="cards__detail">
                <h2 class="cards__title">Womens burnt casual £29.95</h2>
                <p class="cards__desc">Classic casual t-shirt for women on the move. 100% cotton.</p>
                <div class="cards__icons">
                  <a href="#" class="cards__link"><img src="./../src/img/ic-shopping-cart.svg" alt="basket" class="cards__icon"></a>
                  <a href="#" class="cards__link"><img src="./../src/img/ic-heart.svg" alt="like" class="cards__icon"></a>
                  <a href="#" class="cards__link"><img src="./../src/img/product-view/ic-compare.svg" alt="compare" class="cards__icon"></a>


                </div>
              </div>
            </div>
          </div>
          <div class="cards__lookbook-block">
            <div class="cards__banner cards__banner-big ">
              <div class="banner-look">
                <p class="banner-look__title">win</p>
                <p class="banner-look__part">a new look</p>
              </div>

                <div class="lookbook__content">
                  <span class="lookbook__title">win<span class="lookbook__title-part">a look</span></span>
                  <div
                      class="lookbook__description">We invited actress Jane Marshall to join us
                  for the day and choose her perfect outfit from
                  our vast range of womens fashion.
                  </div>
                  <a href="#" class="btn-outline">view now</a>
                </div>
            </div>
            <div class="cards__content cards__content_sm tablet-block">
              <a href="./../templates/product-view.html" class="cards__wrap">
              <span class="cards__price">£89.99</span>
              <img src="../src/img/second-photo.png"
                   srcset="../src/img/second-photo@2x.png 2x, ../src/img/second-photo@3x.png 3x"
                   alt="T-shirt"
                   class="cards__item-sm">
              </a>
              <div class="cards__detail">
                <h2 class="cards__title">Womens burnt casual £29.95</h2>
                <p class="cards__desc">Classic casual t-shirt for women on the move. 100% cotton.</p>
                <div class="cards__icons">
                  <a href="#" class="cards__link"><img src="./../src/img/ic-shopping-cart.svg" alt="basket" class="cards__icon"></a>
                  <a href="#" class="cards__link"><img src="./../src/img/ic-heart.svg" alt="like" class="cards__icon"></a>
                  <a href="#" class="cards__link"><img src="./../src/img/product-view/ic-compare.svg" alt="compare" class="cards__icon"></a>


                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
  </section>
  <section class="lookbook">
    <div class="lookbook__item">
      <img src="../src/img/man.png" alt="men’s lookbook" class="lookbook__img"
           srcset="../src/img/man@2x.png, ../src/img/man@3x.png">
      <div class="lookbook__content">
        <span class="lookbook__title">men’s<span class="lookbook__title-part">lookbook</span></span>
        <div
            class="lookbook__description">See an item you like and click the button to add it to your lookbook where you can create your own perfect look.
        It’s like your own boutique!</div>
        <a href="#" class="btn-outline">view now</a>
      </div>
    </div>
    <div class="lookbook__item">
      <img src="../src/img/woman.png" alt="women’s lookbook" class="lookbook__img"
           srcset="../src/img/woman@2x.png, ../src/img/woman@3x.png">
      <div class="lookbook__content">
        <span class="lookbook__title">women’s<span class="lookbook__title-part">lookbook</span></span>
        <div
            class="lookbook__description">See an item you like and click the button to add it to your lookbook where you can create your own perfect look.
        It’s like your own boutique!</div>
        <a href="#" class="btn-outline">view now</a>
      </div>
    </div>
    <div class="lookbook__item">
      <img src="../src/img/silhouette.png" alt="your lookbook" class="lookbook__img"
           srcset="../src/img/silhouette@2x.png, ../src/img/silhouette@3x.png">
      <div class="lookbook__content">
        <span class="lookbook__title">your<span class="lookbook__title-part">lookbook</span></span>
        <div
            class="lookbook__description">See an item you like and click the button to add it to your lookbook where you can create your own perfect look.
        It’s like your own boutique!</div>
        <a href="#" class="btn-outline">view now</a>
      </div>
    </div>
  </section>

</main>
<footer class="footer">
  <div class="container container_sm">
    <div class="footer__lists">
      <ul class="footer__list">
        <li class="footer__item footer__item_title"><a href="#" class="footer__link footer__link_title">Information</a>
        </li>
        <li class="footer__item"><a href="#" class="footer__link">The brand</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Local stores</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Customer service</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Privacy & cookies</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Site map</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item footer__item_title"><a href="#" class="footer__link footer__link_title">Why
          buy from us</a>
        </li>
        <li class="footer__item"><a href="#" class="footer__link">Shipping & returns</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Secure shopping</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Testimonials</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Award winning</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Ethical trading</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item footer__item_title"><a href="#" class="footer__link footer__link_title">Your
          account</a>
        </li>
        <li class="footer__item"><a href="#" class="footer__link">Sign in</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Register</a></li>
        <li class="footer__item"><a href="#" class="footer__link">View cart</a></li>
        <li class="footer__item"><a href="#" class="footer__link">View your lookbook</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Track an order</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Update information</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item footer__item_title"><a href="#"
                                                       class="footer__link footer__link_title">Lookbook</a>
        </li>
        <li class="footer__item"><a href="#" class="footer__link">Latest posts</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Men’s lookbook</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Women’s lookbook</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Lookbooks RSS feed</a></li>
        <li class="footer__item"><a href="#" class="footer__link">View your lookbook</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Delete your lookbook</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item footer__item_title"><a href="#" class="footer__link footer__link_title">contact
          details</a>
        </li>
        <li class="footer__item">Head Office: Avenue Fashion,
          180-182 Regent Street, London.
        </li>
        <li class="footer__item">Telephone:<a href="tel:0123456789" class="footer__link"> 0123-456-789 </a></li>
        <li class="footer__item">Email:<a href="mailto:support@yourwebsite.com" class="footer__link">
          support@yourwebsite.com</a></li>
      </ul>
    </div>
    <div class="footer__banners">
      <div class="footer__banner"><a href="#" class="banner">award winner <span
          class="banner_part"> fashion awards 2019</span></a>
      </div>
      <div class="footer__social">
        <a href="#" class="footer__link"><img src="./../src/img/ic-facebook.svg" alt="facebook"
                                              class="footer__icon"></a>
        <a href="#" class="footer__link"><img src="./../src/img/ic-twitter.svg" alt="twitter" class="footer__icon"></a>
        <a href="#" class="footer__link"><img src="./../src/img/ic-pinterest.svg" alt="pinterest"
                                              class="footer__icon"></a>
        <a href="#" class="footer__link"><img src="./../src/img/ic-instagram.svg" alt="instagram"
                                              class="footer__icon"></a>
      </div>
    </div>

  </div>
</footer>
<div class="popup right popup-basket">
  <div class="popup-wrap">
    <div class="close">
      <span></span>
      <span></span>
    </div>
    <div class="popup-block">
      <div class="basket">
        <div class="basket__header">
          <h2 class="basket__title">Basket</h2>

        </div>
        <div class="basket__main">
          <div class="basket__item">
            <img src="./src/img/first-photo@3x.png" alt="men's" class="basket__photo-item">
            <div class="basket__content">
              <p class="basket__name">AVE CLASSIC SWEATSHIRT</p>
              <div class="basket__info">
                <p class="basket__info-title">Color:</p>
                <p class="basket__info-desc">red</p>
              </div>
              <div class="basket__info">
                <p class="basket__info-title">Size:</p>
                <p class="basket__info-desc">3</p>
              </div>
              <p class="basket__price">£89.99</p>
            </div>
            <div class="close-sm">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="basket__item">
            <img src="./src/img/first-photo@3x.png" alt="men's" class="basket__photo-item">
            <div class="basket__content">
              <p class="basket__name">AVE CLASSIC SWEATSHIRT</p>
              <div class="basket__info">
                <p class="basket__info-title">Color:</p>
                <p class="basket__info-desc">red</p>
              </div>
              <div class="basket__info">
                <p class="basket__info-title">Size:</p>
                <p class="basket__info-desc">3</p>
              </div>
              <p class="basket__price">£89.99</p>
            </div>
            <div class="close-sm">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="basket__item">
            <img src="./src/img/first-photo@3x.png" alt="men's" class="basket__photo-item">
            <div class="basket__content">
              <p class="basket__name">AVE CLASSIC SWEATSHIRT</p>
              <div class="basket__info">
                <p class="basket__info-title">Color:</p>
                <p class="basket__info-desc">red</p>
              </div>
              <div class="basket__info">
                <p class="basket__info-title">Size:</p>
                <p class="basket__info-desc">3</p>
              </div>
              <p class="basket__price">£89.99</p>
            </div>
            <div class="close-sm">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="basket__item">
            <img src="./src/img/first-photo@3x.png" alt="men's" class="basket__photo-item">
            <div class="basket__content">
              <p class="basket__name">AVE CLASSIC SWEATSHIRT</p>
              <div class="basket__info">
                <p class="basket__info-title">Color:</p>
                <p class="basket__info-desc">red</p>
              </div>
              <div class="basket__info">
                <p class="basket__info-title">Size:</p>
                <p class="basket__info-desc">3</p>
              </div>
              <p class="basket__price">£89.99</p>
            </div>
            <div class="close-sm">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="basket__item">
            <img src="./src/img/first-photo@3x.png" alt="men's" class="basket__photo-item">
            <div class="basket__content">
              <p class="basket__name">AVE CLASSIC SWEATSHIRT</p>
              <div class="basket__info">
                <p class="basket__info-title">Color:</p>
                <p class="basket__info-desc">red</p>
              </div>
              <div class="basket__info">
                <p class="basket__info-title">Size:</p>
                <p class="basket__info-desc">3</p>
              </div>
              <p class="basket__price">£89.99</p>
            </div>
            <div class="close-sm">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="basket__item">
            <img src="./src/img/first-photo@3x.png" alt="men's" class="basket__photo-item">
            <div class="basket__content">
              <p class="basket__name">AVE CLASSIC SWEATSHIRT</p>
              <div class="basket__info">
                <p class="basket__info-title">Color:</p>
                <p class="basket__info-desc">red</p>
              </div>
              <div class="basket__info">
                <p class="basket__info-title">Size:</p>
                <p class="basket__info-desc">3</p>
              </div>
              <p class="basket__price">£89.99</p>
            </div>
            <div class="close-sm">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="basket__item">
            <img src="./src/img/first-photo@3x.png" alt="men's" class="basket__photo-item">
            <div class="basket__content">
              <p class="basket__name">AVE CLASSIC SWEATSHIRT</p>
              <div class="basket__info">
                <p class="basket__info-title">Color:</p>
                <p class="basket__info-desc">red</p>
              </div>
              <div class="basket__info">
                <p class="basket__info-title">Size:</p>
                <p class="basket__info-desc">3</p>
              </div>
              <p class="basket__price">£89.99</p>
            </div>
            <div class="close-sm">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="basket__item">
            <img src="./src/img/first-photo@3x.png" alt="men's" class="basket__photo-item">
            <div class="basket__content">
              <p class="basket__name">AVE CLASSIC SWEATSHIRT</p>
              <div class="basket__info">
                <p class="basket__info-title">Color:</p>
                <p class="basket__info-desc">red</p>
              </div>
              <div class="basket__info">
                <p class="basket__info-title">Size:</p>
                <p class="basket__info-desc">3</p>
              </div>
              <p class="basket__price">£89.99</p>
            </div>
            <div class="close-sm">
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
        <div class="basket__footer">
          <div class="basket__total">
            <p class="basket__label">Total:</p>
            <p class="basket__summ">£89.99</p>
          </div>
          <button class="basket__btn btn-outline">Order</button>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="popup left popup-menu">
  <div class="popup-wrap">
    <div class="close">
      <span></span>
      <span></span>
    </div>
    <div class="mobile-menu">
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item"><a href="/eCommerce/templates/product-view.html" class="mobile-menu__link">mens</a></li>
        <li class="mobile-menu__item"><a href="/eCommerce/templates/product-view.html" class="mobile-menu__link">womens</a></li>
        <li class="mobile-menu__item"><a href="/eCommerce/templates/brand.html" class="mobile-menu__link">the brand</a></li>
        <li class="mobile-menu__item"><a href="/eCommerce/templates/stores.html" class="mobile-menu__link">local stores</a></li>
        <li class="mobile-menu__item"><a href="/eCommerce/templates/lookbook.html" class="mobile-menu__link">look book</a></li>
      </ul>
      <div class="mobile-menu__registration">
        <a href="./templates/sign-in.html" class="header__register">Register</a>
        <a href="./templates/sign-in.html" class="header__sign-in">Sign In</a>
      </div>
      <div class="mobile-menu__search">
        <label class="search">
          <input type="search" class="search__input" placeholder="Search">
        </label>
      </div>
    </div>
  </div>
</div>
<script src="./../modules/jQuery/index.js"></script>
<script src="./../modules/select2/index.min.js"></script>
<script src="./../src/js/index.js"></script>
</body>
