<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="./../modules/select2/index.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="./../src/style/css/index.css">
  <title>Avenue Fashion</title>
</head>
<body>
<header class="header">
  <div class="header__top">
    <div class="container container_sm">
      <div class="header__custom">
        <label class="currency">
          <span class="currency__name">Currency :</span>
          <select class="currency__select" id="currencySelect" name="currency">
            <option value="GBP">GBP</option>
            <option value="EUR">EUR</option>
            <option value="UAH">UAH</option>
            <option value="USD">USD</option>
          </select>
        </label>
        <div class="header__right">
          <a href="./../templates/sign-in.html" class="header__register">Register</a>
          <a href="./../templates/sign-in.html" class="header__sign-in">Sign In</a>
          <div class="header__button">
            <a href="#" class="header__basket">Basket</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__main">
    <div class="container">
      <div class="header__content">
        <a href="./../index.html" class="logo"><span class="logo__part">avenue</span> fashion</a>
        <div class="header__right-part">
          <nav class="nav">
            <ul class="nav__menu">
              <li class="nav__item"><a href="#" class="nav__link">mens</a>
                <div class="dropdown">
                  <div class="dropdown__lists">
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">casuals</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Hoodies &
                        Sweatshirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Polo
                        Shirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Sportswear</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers &
                        Chinos</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">T-Shirts</a>
                      </li>
                    </ul>
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">Formal</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Shirts</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Suits</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown__banner"><a href="#" class="banner">Autumn sale! <span
                      class="banner_part"> up to 50% off</span></a></div>
                </div>
              </li>
              <li class="nav__item"><a href="#" class="nav__link">womens</a>
                <div class="dropdown">
                  <div class="dropdown__lists">
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">casuals</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Hoodies &
                        Sweatshirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Polo
                        Shirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Sportswear</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers &
                        Chinos</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">T-Shirts</a>
                      </li>
                    </ul>
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">Formal</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Shirts</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Suits</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown__banner"><a href="#" class="banner">Autumn sale! <span
                      class="banner_part"> up to 50% off</span></a></div>
                </div>
              </li>
              <li class="nav__item"><a href="./../templates/brand.html" class="nav__link">the brand</a>
                <div class="dropdown">
                  <div class="dropdown__lists">
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">casuals</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Hoodies &
                        Sweatshirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Polo
                        Shirts</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Sportswear</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers &
                        Chinos</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">T-Shirts</a>
                      </li>
                    </ul>
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href="#"
                                                                         class="dropdown__link dropdown__link_title">Formal</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Shirts</a>
                      </li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Suits</a></li>
                      <li class="dropdown__item"><a href="#" class="dropdown__link">Trousers</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown__banner"><a href="/" class="banner">Autumn sale! <span
                      class="banner_part"> up to 50% off</span></a></div>
                </div>
              </li>
              <li class="nav__item"><a href="./../templates/stores.html" class="nav__link">local stores</a>
                <div class="dropdown">
                  <div class="dropdown__lists">
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href=""
                                                                         class="dropdown__link dropdown__link_title">casuals</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Hoodies &
                        Sweatshirts</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Polo Shirts</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Sportswear</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Trousers &
                        Chinos</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">T-Shirts</a>
                      </li>
                    </ul>
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href=""
                                                                         class="dropdown__link dropdown__link_title">Formal</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Shirts</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Suits</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Trousers</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown__banner"><a href="/" class="banner">Autumn sale! <span
                      class="banner_part"> up to 50% off</span></a></div>
                </div>
              </li>
              <li class="nav__item"><a href="./../templates/lookbook.html" class="nav__link">look book</a>
                <div class="dropdown">
                  <div class="dropdown__lists">
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href=""
                                                                         class="dropdown__link dropdown__link_title">casuals</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Hoodies &
                        Sweatshirts</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Polo Shirts</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Sportswear</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Trousers &
                        Chinos</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">T-Shirts</a>
                      </li>
                    </ul>
                    <ul class="dropdown__list">
                      <li class="dropdown__item dropdown__item_title"><a href=""
                                                                         class="dropdown__link dropdown__link_title">Formal</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Jackets</a>
                      </li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Shirts</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Suits</a></li>
                      <li class="dropdown__item"><a href="" class="dropdown__link">Trousers</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown__banner"><a href="/" class="banner">Autumn sale! <span
                      class="banner_part"> up to 50% off</span></a></div>
                </div>
              </li>
            </ul>
          </nav>
          <label class="search">
            <input type="search" class="search__input" placeholder="Search">
          </label>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="stores">
  <section class="main-banner">
    <div class="main-banner__content">
      <p class="main-banner__title">Local stores</p>
      <p class="main-banner__description">Find a store near you</p>
    </div>
  </section>
  <div class="stores__addresses">
    <div class="container container_sm">

      <div class="stores__lists">
        <div class="stores__item">
          <p class="stores__title">London</p>
          <p class="stores__address">180-182 Regent Street, London, W1B 5BT</p>
          <p class="stores__description">Nunc non posuere nisl. Etiam finibus vel dui nec lobortis. Aliquam egestas, sem
            quis condimentum venenatis, erat leo fermentum dolor, non sollicitudin massa mi eu nibh. Nullam vitae
            aliquam dui, non sodales nisl.</p>
          <a href="#" class="btn-outline">view Details</a>
        </div>
        <div class="stores__item">
          <p class="stores__title">New York</p>
          <p class="stores__address">109 Columbus Circle, New York, NY 10023</p>
          <p class="stores__description">Nunc non posuere nisl. Etiam finibus vel dui nec lobortis. Aliquam egestas, sem
            quis condimentum venenatis, erat leo fermentum dolor, non sollicitudin massa mi eu nibh. Nullam vitae
            aliquam dui, non sodales nisl.</p>
          <a href="#" class="btn-outline">view Details</a>
        </div>
        <div class="stores__item">
          <p class="stores__title">Paris</p>
          <p class="stores__address">2133 Rue Saint-Honoré, 75001 Paris</p>
          <p class="stores__description">Nunc non posuere nisl. Etiam finibus vel dui nec lobortis. Aliquam egestas, sem
            quis condimentum venenatis, erat leo fermentum dolor, non sollicitudin massa mi eu nibh. Nullam vitae
            aliquam dui, non sodales nisl.</p>
          <a href="#" class="btn-outline">view Details</a>
        </div>
      </div>
    </div>
  </div>
  <section class="stores__map">
    <iframe class="stores__frame"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.040684901664!2d-0.14200518409068763!3d51.51246957963594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604d5767c9015%3A0x1cf0ab0381c7fd45!2zMTgwIFJlZ2VudCBTdCwgU29obywgTG9uZG9uIFcxQiA1VEosINCS0LXQu9C40LrQvtCx0YDQuNGC0LDQvdC40Y8!5e0!3m2!1sru!2sua!4v1578922125286!5m2!1sru!2sua"
            width="1387" height="530" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    <div class="stores__contacts">
      <p class="stores__title">London</p>
      <p class="stores__address">180-182 Regent Street, London, W1B 5BT</p>
      <p class="stores__description">Nunc non posuere nisl. Etiam finibus vel dui nec lobortis. Aliquam egestas, sem
        quis condimentum venenatis, erat leo fermentum dolor, non sollicitudin massa mi eu nibh. Nullam vitae
        aliquam dui, non sodales nisl.</p>
      <div class="stores__details">
        <ul class="stores__contact-list">
          <li class="stores__contact-item"><img src="../src/img/stores/ic-location.svg" alt="location"
                                                class="stores__img">180-182 Regent Street, London, W1B 5BT
          </li>
          <li class="stores__contact-item"><img src="../src/img/stores/ic-phone.svg" alt="phone" class="stores__img">0123-456-789
          </li>
          <li class="stores__contact-item"><img src="../src/img/stores/ic-share.svg" alt="share" class="stores__img">www.yourwebsite.com
          </li>
          <li class="stores__contact-item"><img src="../src/img/stores/ic-mail.svg" alt="mail" class="stores__img">support@yourwebsite.com
          </li>
          <li class="stores__contact-item"><img src="../src/img/stores/ic-time.svg" alt="time" class="stores__img">Monday-Friday:
            9am to 6pm Saturday: 10am to 6pm Sunday: 10am to 2pm
          </li>
        </ul>

      </div>
      <div class="stores__social">
        <div class="stores__icon-one">
          <a href="#" class="stores__link"><img src="../src/img/ic-facebook.svg" alt="facebook"
                                                class="stores__icon"></a>
          <a href="#" class="stores__link"><img src="../src/img/ic-twitter.svg" alt="twitter" class="stores__icon"></a>
          <a href="#" class="stores__link"><img src="../src/img/ic-instagram.svg" alt="instagram" class="stores__icon"></a>
          <a href="#" class="stores__link"><img src="../src/img/ic-pinterest.svg" alt="pinterest" class="stores__icon"></a>

        </div>
      </div>
  </section>


</main>

<footer class="footer">
  <div class="container container_sm">
    <div class="footer__lists">
      <ul class="footer__list">
        <li class="footer__item footer__item_title"><a href="#" class="footer__link footer__link_title">Information</a>
        </li>
        <li class="footer__item"><a href="#" class="footer__link">The brand</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Local stores</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Customer service</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Privacy & cookies</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Site map</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item footer__item_title"><a href="#" class="footer__link footer__link_title">Why
          buy from us</a>
        </li>
        <li class="footer__item"><a href="#" class="footer__link">Shipping & returns</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Secure shopping</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Testimonials</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Award winning</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Ethical trading</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item footer__item_title"><a href="#" class="footer__link footer__link_title">Your
          account</a>
        </li>
        <li class="footer__item"><a href="#" class="footer__link">Sign in</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Register</a></li>
        <li class="footer__item"><a href="#" class="footer__link">View cart</a></li>
        <li class="footer__item"><a href="#" class="footer__link">View your lookbook</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Track an order</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Update information</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item footer__item_title"><a href="#"
                                                       class="footer__link footer__link_title">Lookbook</a>
        </li>
        <li class="footer__item"><a href="#" class="footer__link">Latest posts</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Men’s lookbook</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Women’s lookbook</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Lookbooks RSS feed</a></li>
        <li class="footer__item"><a href="#" class="footer__link">View your lookbook</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Delete your lookbook</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item footer__item_title"><a href="#" class="footer__link footer__link_title">contact
          details</a>
        </li>
        <li class="footer__item">Head Office: Avenue Fashion,
          180-182 Regent Street, London.
        </li>
        <li class="footer__item">Telephone:<a href="tel:0123456789" class="footer__link"> 0123-456-789 </a></li>
        <li class="footer__item">Email:<a href="mailto:support@yourwebsite.com" class="footer__link">
          support@yourwebsite.com</a></li>
      </ul>
    </div>
    <div class="footer__banners">
      <div class="footer__banner"><a href="#" class="banner">award winner <span
          class="banner_part"> fashion awards 2019</span></a>
      </div>
      <div class="footer__social">
        <a href="#" class="footer__link"><img src="./../src/img/ic-facebook.svg" alt="facebook"
                                              class="footer__icon"></a>
        <a href="#" class="footer__link"><img src="./../src/img/ic-twitter.svg" alt="twitter" class="footer__icon"></a>
        <a href="#" class="footer__link"><img src="./../src/img/ic-pinterest.svg" alt="pinterest"
                                              class="footer__icon"></a>
        <a href="#" class="footer__link"><img src="./../src/img/ic-instagram.svg" alt="instagram"
                                              class="footer__icon"></a>
      </div>
    </div>

  </div>
</footer>
<script src="./../modules/jQuery/index.js"></script>
<script src="./../modules/select2/index.min.js"></script>
<script src="./../src/js/index.js"></script>
</body>
</html>
